body {
  font-family: "Inter", sans-serif;
  overflow: hidden;
  background-color: #fef3c7;
  margin: 0;
  padding: 0;
}

.barracks-bg {
  background-color: #b45309;
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.anime-girl {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 80vh;
  transition: opacity 0.5s ease-in-out;
}

.progress-bar {
  transition: width 0.5s ease-in-out;
}

#talkModal {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  transition: opacity 0.3s ease-in-out;
}

.modal-content-panel {
  background-color: #78350f;
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 90%;
  max-width: 300px;
  text-align: center;
}

.dialogue-option-button {
  background-color: #92400e;
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 0.25rem;
  transition: background-color 0.3s;
  width: 100%;
}

.dialogue-option-button:hover {
  background-color: #a14b15;
}

.action-button {
  background-color: #b45309;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  width: 100%;
}

.action-button:hover {
  background-color: #c35b11;
}

/* Estilos para tablets y dispositivos más grandes */
@media (min-width: 640px) {
  .modal-content-panel {
    padding: 2rem;
    max-width: 400px;
  }

  .dialogue-option-button {
    width: auto;
  }

  .action-button {
    padding: 0.75rem;
  }
}
